<ion-content id="masters" [fullscreen]="true">


  <div id="body">

    <div id="container">
      <section id="sectionlogin">
        <div id="logo"></div>

        <div class="box-input-cima">


          <div id="box-input">
            <input id="inputum" type="text" placeholder="Nome">
            <input id="inputum" type="text" placeholder="Sobrenome">
          </div>

        </div>

        <input type="tel" placeholder="Telefone">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Empresa">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Confirmar senha">

        <h2 id="text-login">Já possui uma conta? <a routerLink="../home" id="botao-cadastro">Entre!</a> </h2>
        <button routerLink="../cadastrodois" id="botao-login">Entrar</button>
      </section>
    </div>
  </div>

</ion-content>