@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

#body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#1765DB, #0BC1E0);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#sectionlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


input {
  border-radius: 5px;
  color: black;
  border: none;
  margin-top: 15px;
  height: 45px;
  width: 260px;
  box-shadow: 2px 2px 4px #00000060;
  font-size: 14px;
  padding: 12px;
}


input:focus {
  outline: none;
}

#text-login {
  color: #212C4A;
  font-size: 14px;
}

input[type=text] {}

#botao-cadastro {
  color: white;
  text-decoration: none;
}

#botao-login {
  border-radius: 30px;
  background-color: #1765DB;
  color: white;
  font-weight: 500;
  font-size: 25px;
  height: 45px;
  width: 200px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

}


#logo {
  height: 100px;
  width: 100px;
  background-size: cover;
  border-radius: 100%;
  background-size: 105%;
  background-image: url(../logo.jpg);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#box-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: -9px;
}



#inputum {
  width: 123px;
  margin: 8px;
}

#box-input-cima {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: #3568E9;
  font-size: 14px;
  letter-spacing: -.5px;
}